<div class="container" id="movie-detail">
  <div *ngIf="movie">
    <h1 [ngStyle]="{'text-align': 'center'}">{{ movie.Title }}</h1>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutAlign.xs="center center" fxFlexFill>

        <div fxFlex="40" class="sec1" fxFlex.xs="55" >
        <div [ngStyle]="{'margin.px': 15}">

            <img [src]="movie.Poster">
        </div>
        </div>
        <div fxFlex="60" class="sec2" fxFlex.xs="45">

            <mat-list role="list">
                <mat-list-item role="listitem"><b [ngStyle]="{'margin-right.px' : 10}">Year:</b> <span>{{ movie.Year }}</span> </mat-list-item>
                <mat-list-item role="listitem"><b [ngStyle]="{'margin-right.px' : 10}">Released:</b> {{ movie.Released }} </mat-list-item>
                <mat-list-item role="listitem"><b [ngStyle]="{'margin-right.px' : 10}">Genre:</b> {{ movie.Genre }}</mat-list-item>
                <mat-list-item role="listitem"><b [ngStyle]="{'margin-right.px' : 10}">Actors:</b> {{ movie.Actors }}</mat-list-item>
                <mat-list-item role="listitem"><b [ngStyle]="{'margin-right.px' : 10}">Language:</b> {{ movie.Language }} </mat-list-item>
                <mat-list-item role="listitem"><b [ngStyle]="{'margin-right.px' : 10}">Country:</b> {{ movie.Country }}</mat-list-item>
                <mat-list-item role="listitem"><b [ngStyle]="{'margin-right.px' : 10}">Awards:</b> {{ movie.Awards }}</mat-list-item>
                <mat-list-item role="listitem"><b [ngStyle]="{'margin-right.px' : 10}">imdbRating:</b> {{ movie.imdbRating }} </mat-list-item>

            </mat-list>
            <mat-divider></mat-divider>
            <div [ngStyle]="{'margin.px': 15}">
                <h2> Plot </h2>
                <p>{{ movie.Plot }}</p>
            </div>
        </div>



    </div>
  </div>
</div>
